<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Regift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RegiftOSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E0C3BBF1A4E9A7D00325FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E0C3BCA1A4E9A7D00325FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC50F2641C82B41F008518EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC50F2771C82B440008518EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC50F28C1C82B501008518EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC50F29E1C82B76E008518EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC50F2AB1C82B7AC008518EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC50F2B81C82B7D2008518EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC50F2C51C82B825008518EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC50F2D21C82B858008518EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC50F3021C82C85B008518EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
